<%= stylesheet_link_tag 'users' %>
    <br>
    <div class="form-group">
      <%= form_for @question do |f| %>
        <% flash.each do |type, msg| %>
          <div class="alert alert-danger alert-dismissible d-inline-block" role="alert">
            <%= msg %>
          </div> 
        <% end %>
        <% flash.delete(:alert) %>
        <h1>Trivia</h1>
        <%= f.label :question, class: 'text-white' %><br>
        <%= f.text_field :question, class: 'textBox' %>
        <%= hidden_field_tag(:activity, @activity) %>
        <!--<div class="mt-3">
          <h2>Respuestas</h2>
          <% if !@answers.nil? %>
            <% render @answers %>
          <% end %>
          <%= link_to 'Añadir Respuesta', new_answer_path(format: 'js'), remote: true, class: 'btn btn-primary' %>
          <div id="answerForm">
          </div>
        </div>-->
        <p class="mt-4"><%= f.submit 'Añadir Pregunta', class: 'btn btn-primary' %></p>
      <% end %>
    </div>
