<%= stylesheet_link_tag 'users' %>
    <br>
    <div class="form-group">
      <%= form_for @question do |f| %>
        <% flash.each do |type, msg| %>
          <div class="alert alert-danger alert-dismissible d-inline-block" role="alert">
            <%= msg %>
          </div> 
        <% end %>
        <% flash.delete(:alert) %>
        <h2>Video trivia</h2>
        <%= f.label :question, class: 'text-white' %><br>
        <%= f.text_field :question, class: 'textBox' %><br>
        <div class="mt-3">
          <h2>Selecionar clip</h2>
          <% if !@clips.nil? %>
            <% @clips.each do |c| %>
              <div class="col-xs-1 col-md-3 elem rounded">
                <p class="center"><%= c.clipName %></p>
                <div class="center">
                  <%= link_to 'Usar clip', c, class: 'btn btn-primary' %>
                  <% if !c[ :question_id].nil? %>
                    <%= link_to 'Usar clip y pregunta', c, class: 'btn btn-primary' %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
          <div class="mt-3">
            <h2>Respuestas</h2><br>
            <% if !@answers.nil? %>
              <% render @answers %>
            <% end %>
            <%= link_to 'Añadir Respuesta', new_answer_path(format: 'js'), remote: true, class: 'btn btn-primary' %>
            <div id="answerForm">
            </div>
          </div>
        </div>
        <p class="mt-4"><%= f.submit 'Añadir Pregunta', class: 'btn btn-primary' %></p>
      <% end %>
    </div>