<%= stylesheet_link_tag 'users' %>
<div class="container">
  <br>
  <div class="center handheld_display">
    <% flash.each do |type, msg| %>
      <div class="alert alert-success alert-dismissible d-inline-block" role="alert">
        <%= msg %>
      </div> 
    <% end %>
    <% flash.delete(:alert) %>
    <h1>Pregunta</h1>
    <div class="elem activity rounded">
      <p>Pregunta: <%= @question.question %></p>
      <p>Tipo de pregunta: <%= @question.question_type %></p>
    </div>
    <div>
      <% if !@clip.nil?%>
      <h2>Video</h2>
        <% if @question.question_type == "Video Test" %>
          <p>Decisión: <span class="bg-light text-dark"><%= @decision.description + " " + @decision.initials %></span></p>
          <p>Sanción:  <span class="bg-light text-dark"><%= @sanction.description + " " + @sanction.initials %></span></p>
        <% end %>
        <p><%= video_tag @clip.video.to_s, controls: true, class: "video" %></p>
      <% end %>  
    </div>
    <div>
      <% if @question.question_type == "Trivia" ||  @question.question_type == "Video Trivia" %>
        <h2>Respuestas</h2>
        <% if !@answers.blank? %>
          <% @answers.each do |a| %>
            <% if a.option == "Falso" %>
              <div class="center topic question wrong-answer rounded">
                <%= a.description %>  
                &emsp;
                <%= button_to '-', answer_path(a, question: @question[ :id]), method: :delete, class: 'btn btn-primary' %>
              </div>
            <% else %>
            <div class="center topic question correct-answer rounded">
                <%= a.description %>
                &emsp;  
                <%= button_to '-', answer_path(a, question: @question[ :id]), method: :delete, class: 'btn btn-primary' %>
              </div>
            <% end %>
          <% end %>
        <% end %>
        <% if @answers.length() < 4 %>
          <p class='m-3'><%= link_to 'Añadir respuesta', new_answer_path(question: @question), class: 'btn btn-primary' %></p>
        <% end %>
      <% end %>
    </div>   
  </div>
</div>