<div class="center row elem rounded">
    <h1><%= decision.description %></h1>
    <h2><%= decision.initials %></h2>
    <% if decision.description == "No Falta" %>
    <p><%= "Aplicable cuando no se aprecia ningún tipo de acción no reglamentaria." %></p>
    <img src="https://i2-prod.football.london/incoming/article18441648.ece/ALTERNATES/s615/2_GettyImages-1250318716.jpg" class="center">
    <% end %>
    <% if decision.description == "Tiro Libre Indirecto" %>
    <p><%= "Aplicable si sucede alguna de estas acciones: jugar de manera peligrosa, 
    no dejar que el guardameta suelte el esférico de sus manos, obstaculizar el avance de un adversario, o 
    cometer alguna otra infracción que amerite parar el juego para advertir o sancionar a un jugador." %></p>
    <img src="https://www.living4football.club/wp-content/uploads/2020/06/Libre-indirecto-en-f%C3%BAtbol.jpg" class="center">
    <% end %>
    <% if decision.description == "Tiro Libre Directo" %>
    <p><%= "Aplicable cuando se identifique acción como temeraria, imprudente o 
    que en ella se haya utilizado una fuerza exagerada, o cuando un jugador cometa alguna de las siguientes 
    infracciones: saltar o cargar sobre un rival, empujarlo, realizarle una entrada, golpearle o intentar 
    golpearle, ponerle o intentar ponerle una zancadilla, o darle o intentar darle una patada." %></p>
    <img src="https://as.com/videos/imagenes/2017/01/05/portada/1483651739_278142_1483653382_noticia_normal.jpg" class="center">
    <% end %>
    <% if decision.description == "Tiro Penal" %>
    <p><%= "Aplicable cuando se cometa alguna de las acciones por las que se sancionaría un tiro directo, 
    pero teniendo en cuenta la acción se ha producido dentro del área." %></p>
    <img src="http://www.e6d.es/fotos/17201414104576051y.jpg" class="center">
    <% end %>
</div>