<%= stylesheet_link_tag 'users' %>
<div class="container form_padding">
  <br>
  <div class="form-group">
    <%= form_for @clip do |c| %>
      <h1>Change Sanction</h1>
      <p class="custom-select">
        <%= c.label :sanction %><br>
        <%= c.select :sanction, @sanctions.map{|s| [s.description]} %>
      </p>
      <p>
        <%= c.submit 'Cambiar', class: 'btn btn-primary' %>
      </p>
    <% end %>
  </div>
</div>