<%= stylesheet_link_tag 'users' %>
<div class="container">
  <br>
  <div class="center handheld_display">
    <% flash.each do |type, msg| %>
      <div class="alert alert-success alert-dismissible d-inline-block" role="alert">
        <%= msg %>
      </div> 
    <% end %>
    <% flash.delete(:alert) %>
    <p>Nombre: <%= @clip.clipName %></p>
    <p>Usuario: <%= @clip.uploadUser %></p>
    <% if !@decision.blank? %>
      <p>Decisión: <span class="bg-light text-dark"><%= @decision.description + " " + @decision.initials %></span></p>
    <% else %>
      <p>Decisión: <span class="bg-light text-dark">Ninguna</span></p> 
    <% end %>
    <% if !@sanction.blank? %>
      <p>Sanción:  <span class="bg-light text-dark"><%= @sanction.description + " " + @sanction.initials %></span></p>
    <% else %>
      <p>Sanción:  <span class="bg-light text-dark">Ninguna</span></p> 
    <% end %>
    <p><%= link_to 'Edit', edit_clip_path(@clip), class: "btn btn-primary" %></p>
    <p><%= video_tag @clip.video.to_s, controls: true, class: "video" %></p>
      <div>
        <h3 class="text-white">Pregunta</h3>
        <% if !@question.nil? %>
        <div class="center topic rounded">
          <%= @question.question %>
          
        </div>
          <% if !@answers.nil? %>
            <% @answers.each do |a| %>
              <div class="center topic rounded bg-primary">
                <%= a.description %>
              </div>
            <% end %>
            <% if @answers.length() < 4 %>
              <p class='m-3'><%= link_to 'Añadir respuesta', new_answer_path(question: @question.id, clip: @clip.id), class: 'btn btn-primary' %></p>
            <% end %>
          <% end %>
        <% else %>
          <p><%= link_to 'Añadir', new_question_path(clip: @clip), class: "btn btn-primary" %></p>
        <% end %>
      </div>
    <br>
    <div>
      <br>
      <% if Topic.any? %>
        <h3 class="text-white">Topics</h3>
        <% @topics.each do |t| %>
          <div class="center topic rounded">
            <%= t['description'] %> <!--:topic => t['id']-->
            <%= link_to '-', quit_topic_path(:topic => t['id']), class: 'btn btn-primary' %>
          </div>
        <% end %> 
        <%= link_to '+', add_topic_path(), class: 'btn btn-primary mb-5' %>
      <% end %>
    </div>
  </div>
</div>