<%= stylesheet_link_tag 'users' %>
<div class="container">
  <br>
  <div class="center handheld_display">
    <% flash.each do |type, msg| %>
      <div class="alert alert-success alert-dismissible d-inline-block" role="alert">
        <%= msg %>
      </div> 
    <% end %>
    <% flash.delete(:alert) %>
    <p>Nombre: <%= @clip.clipName %></p>
    <p>Usuario: <%= @clip.uploadUser %></p>
    <% if !@decision.blank? %>
      <p>Decisi贸n: <span class="bg-light text-dark"><%= @decision.description + " " + @decision.initials %></span></p>
    <% else %>
      <p>Decisi贸n: <span class="bg-light text-dark">Ninguna</span></p> 
    <% end %>
    <% if !@sanction.blank? %>
      <p>Sanci贸n:  <span class="bg-light text-dark"><%= @sanction.description + " " + @sanction.initials %></span></p>
    <% else %>
      <p>Sanci贸n:  <span class="bg-light text-dark">Ninguna</span></p> 
    <% end %>
    <p><%= link_to 'Edit', edit_clip_path(@clip), class: "btn btn-primary" %></p>
    <p><%= video_tag @clip.video.to_s, controls: true, class: "video" %></p>
    <% if !@question.nil? %>
      <div>
        <h3 class="text-white">Pregunta</h3>
        <div class="center topic rounded">
          <%= @question.question %>
        </div>
        <% if !@answers.nil? %>
          <% @answers.each do |a| %>
            <div class="center topic rounded bg-primary">
              <%= a.description %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <br>
    <div>
      <br>
      <h3 class="text-white">Topics</h3>
      <% @topics.each do |t| %>
        <div class="center topic rounded">
          <%= t['description'] %> <!--:topic => t['id']-->
          <%= link_to '-', quit_topic_path(:topic => t['id']), class: 'btn btn-primary' %>
        </div>
      <% end %> 
      <%= link_to '+', add_topic_path(), class: 'btn btn-primary mb-5' %>
    </div>
  </div>
</div>