<%= stylesheet_link_tag 'users' %>
<div class="container">
  <br>
  <div class="center handheld_display">
    <% flash.each do |type, msg| %>
      <div class="alert alert-success alert-dismissible d-inline-block" role="alert">
        <%= msg %>
      </div> 
    <% end %>
    <% flash.delete(:alert) %>
    <p>Nombre: <%= @clip.clipName %></p>
    <p>Usuario: <%= @clip.uploadUser %></p>
    <% if !@decision.blank? %>
      <p>Decisi贸n: <span class="bg-light text-dark"><%= @decision.description + " " + @decision.initials %></span></p>
    <% else %>
      <p>Decisi贸n: <span class="bg-light text-dark">Ninguna</span></p> 
    <% end %>
    <% if !@sanction.blank? %>
      <p>Sanci贸n:  <span class="bg-light text-dark"><%= @sanction.description + " " + @sanction.initials %></span></p>
    <% else %>
      <p>Sanci贸n:  <span class="bg-light text-dark">Ninguna</span></p> 
    <% end %>
    <p><%= link_to 'Edit', edit_clip_path(@clip), class: "btn btn-primary" %></p>
    <p><%= video_tag @clip.video.to_s, controls: true, class: "video" %></p>
    <div>
      <% @topics.each do |t| %>
        <div class="center elem rounded">
          <%= t['description'] %> 
          <%= link_to '-', {controller: 'clips', action: 'quit_topic', query: params[:topic => t['id']]}, method: 'post', class: 'btn btn-primary' %>
        </div>
      <% end %> 
      <%= link_to '+', {controller: 'clips', action: 'add_topic', query: params[:id]}, method: 'get', class: 'btn btn-primary mb-5' %>
    </div>
  </div>
</div>