<%= stylesheet_link_tag 'users' %>
<div class="container">
  <br>
  <div class="center handheld_display">
    <p>Nombre: <%= @clip.clipName %></p>
    <p>Usuario: <%= @clip.uploadUser %></p>
    <% if !@decision.blank? %>
      <p>
        Decisi贸n: <%= @decision.description + " " + @decision.initials %>
        <%= link_to 'Cambiar', @clip, '/decision', class: 'btn btn-primary' %>
      </p>
    <% else %>
      <p>Decisi贸n: <%= link_to 'Cambiar', @clip, '/decision', class: 'btn btn-primary' %></p> 
    <% end %>
    <% if !@sanction.blank? %>
      <p>
        Sanci贸n: <%= @sanction.description + " " + @sanction.initials %>
        <%= link_to 'Cambiar', @clip, '/sanction', class: 'btn btn-primary' %>
      </p>
    <% else %>
      <p>Sanci贸n: <%= link_to 'Cambiar', @clip, '/sanction', class: 'btn btn-primary' %></p> 
    <% end %>
    <p><%= video_tag @clip.video.to_s, controls: true, class: "video" %></p>
  </div>
</div>