<%= stylesheet_link_tag 'users' %>
<%= link_to 'Back', '/welcome', class: "btn btn-light back_button" %>
<div class="container form_padding">
  <br>
  <div class="form-group">
    <%= form_tag '/login' do %>
      <% flash.each do |type, msg| %>
        <div class="alert alert-danger alert-dismissible d-inline-block" role="alert">
          <%= msg %>
        </div> 
      <% end %>
      <% flash.delete(:alert) %>
      <h1>Log in</h1>
      <p>
        <%= label_tag :name %><br>
        <%= text_field_tag :name %>
      </p>
      <p>
        <%= label_tag :password %><br>
        <%= text_field_tag :password %>
      </p>
      <p>
        <%= submit_tag 'Login', class: 'btn btn-primary' %>
      </p>
    <% end %>
  </div>
</div>

