<br>
<div class="container center">
<h2>Trivia</h2>
<div class="elem activity rounded">
  <p>Pregunta: <%= @question.question %></p>
  <p>Tiempo para responder: <%= @question.response_time %>s</p>
</div>
<div>
  <h2 class="timer center rounded" id="timer"></h2><br>
  <h3>Respuestas</h3><!--poner id en form_tag para acceder desde js y desde ahi hacer .submit-->
  <%= form_tag 'doing_activity_post', id: 'response' do %>
    <% if !@answers.blank? %>
      <% @answers.each do |a| %>
        <div class="center topic bg-secondary question rounded">
          <%= radio_button_tag :user_answer, a.id %> 
          <!--<div id="rates">
            <input type="radio" name="answer" value= <%= a.id %> > <%= a.description %> 
          </div>-->
          &emsp; 
          <%= a.description %>
        </div>
      <% end %>
    <% end %>
    <div class="center mb-5">
      <%= hidden_field_tag :activity, @activity.id %>
      <%= hidden_field_tag :n_question, @n_question%>
      <% if @n_question < @total_questions - 1 %>
        <%= submit_tag 'Siguiente', class: 'btn btn-primary' %>
      <% else %>
        <%= submit_tag 'Finalizar actividad', class: 'btn btn-primary' %>
      <% end %>
    </div> 
  <% end %>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    var countdown = <%= @question.response_time.to_i %>
    var x = setInterval(function() {
      --countdown
      if (countdown % 60 < 10){
        $('#timer').html("0" + Math.floor(countdown / 60) + ":" + "0" + countdown % 60);
      }    
      else{
        $('#timer').html("0" + Math.floor(countdown / 60) + ":" + countdown % 60);
      }

      if(countdown <= 0){
        document.getElementById("response").submit();
      }
    }, 1000);
  });
</script>