<div class="container">
<h1>Video Test</h1>
<div class="elem activity rounded">
  <p>Pregunta: <%= @question.question %></p>
  <p>Tiempo para responder: <%= @question.response_time %>s</p>
</div>
<div>
  <h2>Video</h2>
  <p><%= video_tag @clip.video.to_s, autoplay: true, class: "video", id: "video" %></p>
</div>
<div>
  <h2>Respuestas</h2>
  <% Decision.all.each do |d| %>
    <div class="center topic question wrong-answer rounded">
      <%= radio_button_tag :user_decision, d.description %>
    </div>
  <% end %>
  <% Sanction.all.each do |s| %>
    <div class="center topic question wrong-answer rounded">
      <%= radio_button_tag :user_sanction, s.description %>
    </div>
  <% end %>
  <% if @n_question < @total_questions - 1 %>
    <div class="center mb-5">
      <%= link_to 'Siguiente', doing_activity_path(activity: @activity.id, n_question: @n_question + 1), class: 'btn btn-primary' %>
    </div> 
  <% else %>
    <div class="center mb-5">
      <%= link_to 'Finalizar actividad', activities_users_path, class: 'btn btn-primary' %>
    </div> 
  <% end %>
</div>
</div>