<br>
<div class="container center">
  <h2>Video Test</h2>
  <div>
    <h3>Video</h3>
    <p><%= video_tag @clip.video.to_s, autoplay: true, class: "video", id: "video" %></p>
  </div>
  <div class="not-visible", id="answer-content">
    <div class="elem activity rounded">
      <p>Pregunta: <%= @question.question %></p>
      <p>Tiempo para responder: <%= @question.response_time %>s</p>
    </div>
    <div>
      <h2 class="timer center rounded" id="timer"><%= "0" + (@question.response_time / 60).round().to_s + ":" + (@question.response_time % 60).to_s %></h2><br>
      <h3>Respuestas</h3><br>
      <%= form_tag 'doing_activity_post', id: 'response' do %>
        <div>
          <h3>Decisión</h3>
            <% Decision.all.each do |d| %>
              <div class="center topic bg-secondary question rounded">
                <%= radio_button_tag :user_decision, d.id %>
                &emsp;
              <%= d.description %>
              </div>
            <% end %>
        </div>
        <div>
          <h3>Sanción</h3>
            <% Sanction.all.each do |s| %>
              <div class="center topic bg-secondary question rounded">
                <%= radio_button_tag :user_sanction, s.id %>
                &emsp;
                <%= s.description %>
              </div>
            <% end %>
        </div>
        <div class="center mb-5">
          <%= hidden_field_tag :activity, @activity.id %>
          <%= hidden_field_tag :n_question, @n_question%>
          <% if @n_question < @total_questions - 1 %>
            <%= submit_tag 'Siguiente', class: 'btn btn-primary' %>
          <% else %>
            <%= submit_tag 'Finalizar actividad', class: 'btn btn-primary' %>
          <% end %>
        </div> 
      <% end %>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('#video').on('ended', function(){
      $('#answer-content').toggleClass('not-visible');
      var countdown = <%= @question.response_time.to_i %>
      var x = setInterval(function() {
        --countdown
        if (countdown % 60 < 10){
          $('#timer').html("0" + Math.floor(countdown / 60) + ":" + "0" + countdown % 60);
        }    
        else{
          $('#timer').html("0" + Math.floor(countdown / 60) + ":" + countdown % 60);
        }

        if(countdown <= 0){
          document.getElementById("response").submit();
        }
      }, 1000);
    });
  });
</script>