<br>
<div class="container center">
<h2>Trivia</h2>
<div class="elem activity rounded">
  <p>Pregunta: <%= @question.question %></p>
  <p>Tiempo para responder: <%= @question.response_time %>s</p>
</div>
<div>
  <h2 class="timer center rounded" id="timer"></h2><br>
  <h3>Respuestas</h3>
  <% if !@answers.blank? %>
    <% form_tag 'activities_users/doing_activity' do %>
    <% @answers.each do |a| %>
      <div class="center topic bg-secondary question rounded">
        <%= radio_button_tag :user_answer, a.id %> 
        <!--<div id="rates">
          <input type="radio" name="answer" value= <%= a.id %> > <%= a.description %> 
        </div>-->
        &emsp; 
        <%= a.description %>
      </div>
    <% end %>
    <% end %>
  <% end %>
  <% if @n_question < @total_questions - 1 %>
    <div class="center mb-5">
      <%= link_to 'Siguiente', doing_activity_path(activity: @activity.id, n_question: @n_question + 1), class: 'btn btn-primary' %>
    </div> 
  <% else %>
    <div class="center mb-5">
      <%= link_to 'Finalizar actividad', activities_users_path, class: 'btn btn-primary' %>
    </div> 
  <% end %>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    var countdown = <%= @question.response_time.to_i %>
    var x = setInterval(function() {
      --countdown
      if (countdown % 60 < 10){
        $('#timer').html("0" + Math.floor(countdown / 60) + ":" + "0" + countdown % 60);
      }    
      else{
        $('#timer').html("0" + Math.floor(countdown / 60) + ":" + countdown % 60);
      }

      if(countdown <= 0){
        if (<%= @n_question %> < <%= @total_questions - 1 %>){
          window.location.href="/activities_users/doing_activity?activity=<%= @activity.id %>&n_question=<%= @n_question + 1 %>"
        } else{
          window.location.href="/activities_users"
        }
      }
    }, 1000);
  });
</script>