<%= stylesheet_link_tag 'users' %>
<div class="container", id="container">
  <br>
  <div class="center handheld_display">
    <% flash.each do |type, msg| %>
      <div class="alert alert-success alert-dismissible d-inline-block" role="alert">
        <%= msg %>
      </div> 
    <% end %>
    <% flash.delete(:alert) %>
    <h1>Pregunta <%= @n_question + 1 %></h1>
    <% if @type == 'Trivia' %>
      <%= render 'doing_trivia' %>
    <% end %>
    <% if @type == 'Video Trivia' %>
      <%= render 'doing_video_trivia' %>
    <% end %>
    <% if @type == 'Video Test' %>
      <%= render 'doing_video_test' %>
    <% end %>
    <% if @type == 'Pregunta Abierta' %>
      <%= render 'doing_open_question' %>
    <% end %>
  </div>
  <p class="center m-5"><%= link_to 'Continuar más tarde', activities_users_path(activity: @activity.id, n_question: @n_question), class: 'btn btn-primary' %></p>
</div>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    function showPopUp(e) {
      if(!e) e = window.event;
      e.cancelBubble = true;
      e.returnValue = 'You sure you want to leave?'; 
      if (e.stopPropagation) {
          e.stopPropagation();
          e.preventDefault();
      }
    }
    window.onbeforeunload = showPopUp;

  });
</script>-->