<%= stylesheet_link_tag 'users' %>
<div class="container">
  <br>
  <div class="center handheld_display">
    <% flash.each do |type, msg| %>
      <div class="alert alert-success alert-dismissible d-inline-block" role="alert">
        <%= msg %>
      </div> 
    <% end %>
    <% flash.delete(:alert) %>
    <h1>Actividad finalizada</h1><br>
    <% @questions.each do |q| %>
      <div class="center">
        <div class="elem activity rounded">
          <p>Pregunta: <%= q.question %></p>
          <p>Tipo de pregunta: <%= q.question_type %></p>
        </div>
        <div>
          <% if q.question_type == "Trivia" ||  q.question_type == "Video Trivia" %>
            <h2>Respuestas</h2>
              <% Answer.where(question_id: q.id).each_with_index do |a, index| %>
                <% if a.description == @user_answers[index] %>
                  <% if a.option == "Falso" %>
                    <div class="center topic question wrong-answer rounded">
                      <%= a.description %>  
                    </div>
                  <% else %>
                    <div class="center topic question correct-answer rounded">
                      <%= a.description %>  
                    </div>
                  <% end %>
                <% else %>
                  <div class="center topic question bg-secondary rounded">
                    <%= a.description %>  
                  </div>
                <% end %>
              <% end %>
          <% end %>
        <div>
      </div>
    <% end %>
  </div>
</div>