<%= stylesheet_link_tag 'users' %>
<div class="container">
    <br>
    <div class="center handheld_display">
        <% flash.each do |type, msg| %>
          <div class="alert alert-success alert-dismissible d-inline-block" role="alert">
            <%= msg %>
          </div> 
        <% end %>
        <% flash.delete(:alert) %>
        <h1>Mis actividades</h1><br>
        <% @activities.each_with_index do |a, i| %>
            <div class="center topic bg-secondary rounded">
              <p>Nombre: <%= a.name %></p>
              <p>Responsable: <%= a.responsible %></p>
              <p>Fecha de inicio: <%= a.initial_date.strftime("%d/%m/%Y") %></p>
              <p>Fecha de fin: <%= a.final_date.strftime("%d/%m/%Y") %></p>
              <p>Fecha de resultado: <%= a.result_date.strftime("%d/%m/%Y") %></p>
              <p>Nota de corte: <%= a.grade %></p>
              <% if a.initial_date.strftime("%d/%m/%Y") == Time.now.strftime("%d/%m/%Y") && @activities_user[i]['status'] == 'Disponible'%>
                <p><%= link_to 'Empezar actividad', doing_activity_path(activity: a.id, n_question: @activities_user[i]['last_question']), 
                data: {confirm:"Va a comenzar la actividad '#{a.name}'. ¿Desea continuar?"}, class: 'btn btn-primary' %></p>
              <% end %>
              <% if Time.now.strftime("%d/%m/%Y") >= a.result_date.strftime("%d/%m/%Y") && @activities_user[i]['status'] == 'Finalizada'%>
                <p><%= link_to 'Resultados', finish_activity_path(activity: a.id), class: 'btn btn-primary' %></p>
              <% end %>
              <% if a.initial_date.strftime("%d/%m/%Y") == Time.now.strftime("%d/%m/%Y") && @activities_user[i]['status'] == 'Pausada'%>
                <p><%= link_to 'Continuar actividad', doing_activity_path(activity: a.id, n_question: @activities_user[i]['last_question']), 
                data: {confirm:"Va a reanudar la actividad '#{a.name}'. ¿Desea continuar?"}, class: 'btn btn-primary' %></p>
              <% end %>
            </div>
          <% end %>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    window.history.pushState(null, "", window.location.href);        

      window.onpopstate = function() {

          window.history.pushState(null, "", window.location.href);

      };
  });
</script>