<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#sidebar').toggleClass('active');
        $('#sidebarCollapse').toggleClass('active');
      });
    </script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#sidebarCollapse').on('click', function () {
          $('#sidebar').toggleClass('active');
          $('#sidebarCollapse').toggleClass('active');
        });
      });
    </script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#adminCollapse').on('click', function () {
          $('#adminSubmenu').toggleClass('show');
          $('#sidebar').toggleClass('resize');
        });
      });
    </script>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="wrapper">
      <nav id="sidebar">
        <div class="sidebar-header">
          <div class="container-fluid">
            <h3>Menú</h3>
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
              <div class="menu_icon"></div>
              <div class="menu_icon"></div>
              <div class="menu_icon"></div>
            </button>
          </div>
        </div>
          <a href="/tools">Herramientas</a>
          <a href="/activities">Actividades</a>
          <a href="/evaluation">Evaluación</a>
          <a href="#adminSubmenu" id="adminCollapse" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Administración</a>
          <ul class="list-unstyled collapse" id="adminSubmenu">
            <li>
              <a href="/users">Usuarios</a>
            </li>
            <li>
              <a href="/clips">Clips</a>
            </li>
            <li>
              <a href="/topics">Topics</a>
            </li>
            <li>
              <a href="/decisions">Decisiones</a>
            </li>
            <li>
              <a href="/sanctions">Sanciones</a>
            </li>
          </ul>
          <a href="/welcome">Logout</a>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>